
.navbar-collapse{
    flex-grow: 0;
}
.nav-link,
.navbar-brand{
    color: white !important;
}
.navbar-toggler{
    border-color: white;
}
#intro,
#about-us{
    background-color: #1ABC9C;
    color: white;
}
.star hr{
    width: 20%;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid;
    opacity: 1;
}
#cards{
    color: #333333;
}

#about-us .container,
#contact-me .container{
    max-width: 80%;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .fa-brands{
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    width: 40px;
    aspect-ratio: 1;
    text-align: center;
  }
  .fa-facebook-f:before,
  .fa-google-plus-g:before,
  .fa-twitter:before,
  .fa-linkedin-in:before{
    line-height: 40px;
  }

  .color-verde{
    color: #1ABC9C;
  }
