
.navbar-collapse{
    flex-grow: 0;
}
.nav-link,
.navbar-brand{
    color: white !important;
}
.navbar-toggler{
    border-color: white;
}
#intro,
#about-us{
    background-color: #1ABC9C;
    color: white;
}
.star hr{
    width: 20%;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid;
    opacity: 1;
}
#cards{
    color: #333333;
}

#about-us .container,
#contact-me .container{
    max-width: 80%;
}
